<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
    </Console>
    <File name="BDQTestRunnerLog" fileName="bdqtestrunner.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
    </File>    
  </Appenders>
  <Loggers>
    <Logger name="org.filteredpush.qc.bdqtestrunner" level="DEBUG" >
      <AppenderRef ref="BDQTestRunnerLog"/>
    </Logger>
    <Logger name="org.filteredpush.qc.date" level="DEBUG" >
      <AppenderRef ref="BDQTestRunnerLog"/>
    </Logger>
    <Logger name="org.filteredpush.qc.sciname" level="DEBUG" >
      <AppenderRef ref="BDQTestRunnerLog"/>
    </Logger>
    <Logger name="org.filteredpush.qc.georeference" level="DEBUG" >
      <AppenderRef ref="BDQTestRunnerLog"/>
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>